{% extends 'base.html' %}

{% block content %}

  <section id="kijijijini">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h4>About:</h4>
          <p>
            Have you ever wanted to sell a coffee table on Kijiji but didn't know
            what price to ask?
          </p>
          <p>
            I sure have.
          </p>
          <p>
            kijijijini is an application to estimate the price for an item listing
            based on the item type, title, and description, using machine learning!
            The tool scrapes 100,000s of listing from the site from which to learn.
          </p>
          <p>
            Ways to use kijijijini:
          </p>
          <ul>
            <li>
              Enter a draft of the listing you want to post to get a price suggestion.
            </li>
            <li>
              Enter the url or id of a listing on Kijiji to see a price estimate and compare
              to the asking price.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="me" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p>
            Kijijijini is written by me, Robert Krone.  I'm a mathematician and programmer.
            I made this as the Capstone project for the Data Incubator Fall 2020 program.
            Feel free to grab the code from github and do whatever you want with it.
          </p>
          <p>
            Have fun!
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
