{% extends 'base.html' %}

{% block content %}

  <section id="urlInput" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h4>listing url or id:</h4>
          <div style="text-align: center" class="text-danger">
            {{ error }}
          </div>
          <form action="/" id="url" method="post">
            <div class="form-group">
              <input type="text" name="url" class="form-control" id="titleBox" value="{{ url }}">
            </div>
            <input type="hidden" name="form" value="url">
            <input class="btn btn-info" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="listingInput">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h4>your listing:</h4>
          <form action="/" id="listing" method="post">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <select class="form-control" name="category" id="category" required>
                    <!--<option value = "" selected>item category</option>-->
                  </select>
                </div>
                <div class="col">
                  <select class="form-control" name="item" id="item" required>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="title" id="title" placeholder="title" value="{{ title }}">
            </div>

            <div class="form-group">
              <textarea class="form-control" name="description" id="description" rows="4" placeholder="description">{{ description }}</textarea>
            </div>
            <input type="hidden" name="form" value="listing">
            <input class="btn btn-info" type="submit" value="Submit">
          </form>

        </div>
      </div>
    </div>
  </section>

  <section id="price" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="row">
            <div class="col">
              <h4>{{ price_str }}</h4>
            </div>
            <div class="col">
              <h4 style="text-align: right">&nbsp; {{ price }}</h4>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <h4>price suggestion:</h4>
            </div>
            <div class="col">
              <h3 style="text-align: right" class="text-success">{{ sug_price }}</h3>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>

  <script>
    var category_selects = {{ category_selects | safe }}
    var item_selects = {{ item_selects | safe }}
    var category_value = '{{ category | safe }}'
    var item_value = '{{ item | safe }}'

    // removes select options except the first
    function removeOptions(sel) {
      var len = sel.options.length;
      for (var i=len-1; i>=0; i--) {
        sel.remove(i);
      };
    }

    function appendOptions(sel, opts) {
      opts.forEach(function (opt) {
        var optEl = document.createElement('option');
        optEl.value = opt[0];
        optEl.innerHTML = opt[1];
        sel.appendChild(optEl);
      });
    }

    // anonymous function assigned to onchange event of controlling select box
    document.getElementById('category').onchange = function(e) {
      var sel = document.getElementById('item');
      removeOptions(sel);
      appendOptions(sel, item_selects[this.value]);
    };

    // populate associated select box as page loads
    function populate() {
      var selc = document.getElementById('category');
      appendOptions(selc, category_selects);
      selc.value = category_value;

      var seli = document.getElementById('item');
      appendOptions(seli, item_selects[selc.value]);
      seli.value = item_value;
    }
    window.onload = populate();
  </script>
{% endblock %}
